torch
torchaudio
sentencepiece
numpy
scipy
soundfile
einops
julius
librosa
ffmpeg-python
omegaconf
num2words
spacy
flashy
torchmetrics
huggingface-hub
tqdm
transformers==4.36.2
xformers==0.0.22.post7
